@mixin hatterek{
        background-color: black;
}
#blockage-photograpy-image{
        width: 100%;
        height: auto;
}
#fooldal, #rolam, #fotozas, #galeria  {
        @include hatterek();
}
#nav{
        background-color: darkgray;
}

/* Media Query */
@media only screen and (max-width: 768px) {

    }
  